@charset "UTF-8";
/* VARIABLES */
/*-----------*/
/* CSS PAGE MEDIA ELEMENTS */
/*-------------------------*/
@page {
  size: a4;
  margin-top: 8mm;
  margin-bottom: 13mm;
  margin-left: 10mm;
  margin-right: 10mm;
  font-size: 12pt;
  line-height: 0mm;
  @bottom-left {
    content: "Devis" " n° " "D1809-0001";
  }
  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);
  }
}

@page :first {
  @top-right {
    content: "Devis";
    text-align: left;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 23pt;
    margin-right: 40mm;
  }
}

/* PAGE STRUCTURATION */
/* Solution to have in the body  header, main and footer elements with complex content*/
/* see https://stackoverflow.com/questions/16679146/force-footer-on-bottom-on-pages-with-little-content */
/*------------------------------------------------------------------------------------------------------*/
.wrapper {
  min-height: 100%;
}

header {
  width: 100%;
  height: auto;
}

main {
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 55%;
  font-size: 9pt;
  text-align: justify;
}

/* GRID SYSTEM */
/* see http://j4n.co/blog/Creating-your-own-css-grid-system */
/*----------------------------------------------------------*/
.grid-container {
  width: 100%;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  /*width: 100% / 12;
  /*-- our gutter -- */
  /*padding: 0px; */
  /*background-color: #FFDCDC;*/
}

.col-1 {
  width: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

/* OTHER ELEMENTS */
/*----------------*/
.logo > p {
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
}

.big {
  font-size: 13pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.boxheader {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  width: 30mm;
  height: 15mm;
  margin: 0;
  margin-top: 10mm;
  padding: 0;
  text-align: center;
}

.boxheader > p {
  line-height: 0mm;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.address {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  line-height: 15px;
}

.address > table {
  margin: 0;
  padding: 0;
}

.address > table > tr > td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.box {
  display: inline-block;
  height: auto;
  margin-top: 10mm;
  margin-bottom: 1mm;
  padding-top: 3mm;
  padding-bottom: 3mm;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(100, 100, 100, 0.3);
}

.box p {
  line-height: 0mm;
  font-size: 10pt;
  text-align: left;
  padding-left: 3mm;
  padding-right: 3mm;
}

#bill {
  width: 110mm;
}

#quote {
  width: 55mm;
}

.headclient {
  font-size: 14pt;
  font-weight: bold;
  padding-bottom: 2mm;
  padding-top: 3mm;
  margin: 0;
}

.topm {
  margin-top: 12mm;
}

.topm > p {
  padding: 0;
  margin: 0;
}

.services {
  margin-top: 5mm;
}

.services > table {
  page-break-inside: auto;
  margin: 0;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.services > table > thead > tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.services > table > thead > tr > th {
  border-left: 1px solid black;
  text-align: center !important;
  padding: 5px;
}

.services > table > thead > tr > th:last-child {
  border-right: 1px solid black;
}

.services tbody {
  font-size: 11pt;
}

.services td {
  border-left: 1px solid black;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.services td:last-child {
  border-right: 1px solid black;
}

.footbox {
  border: 1px solid black;
  height: 35mm;
  width: 90%;
  vertical-align: top;
}

.footbox > p {
  margin: 0;
  padding: 1mm;
}

.bold {
  font-weight: bold;
}

.medium {
  font-size: 11pt;
  font-weight: bold;
}

#footquote {
  width: 90%;
}

