
@import 'variables';

@page {
size: a4;
  margin-top: 10mm;
  margin-bottom: 15mm;
  margin-left: 10mm;
  margin-right: 10mm;
  font-size: 12pt;
  line-height: 0mm;
  @top-right {
    content: $doc;
    text-align: left;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 23pt;
    margin-right: 40mm;
  }
  @bottom-left {
    content: $doc " n° " $ndoc;
  }
  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);
  }
}

.centered {
  text-align: center;
}

.row {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
}


@for $i from 1 through $columns {
  .col-#{$i} {
  	width: 100% / $columns * $i;
  	float: left;
  }
  .col-offset-#{$i} {
    margin-left: 100% / $columns *$i;
  	float: left;
  }
}


.boxheader {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  width: 30mm;
  height: 15mm;
  margin: 0;
  margin-top: 10mm;
  padding: 0;
  text-align: center;
}

.boxheader > p {
  line-height: 0mm;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
}

.box {

}

.logo > p {
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
}

/*

img[alt="logo"] {
  margin: 0;
  padding: 0;
}
*/
