/* VARIABLES */
/*-----------*/
@import 'variables';

/* CSS PAGE MEDIA ELEMENTS */
/*-------------------------*/
@page {
  size: a4;
  margin-top: 8mm;
  margin-bottom: 13mm;
  margin-left: 10mm;
  margin-right: 10mm;
  font-size: 12pt;
  line-height: 0mm;
  @bottom-left {
    content: $doc " n° " $ndoc;
  }
  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);
  }
}

@page :first {
  @top-right {
    content: $doc;
    text-align: left;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 23pt;
    margin-right: 40mm;
  }
}

/* PAGE STRUCTURATION */
/* Solution to have in the body  header, main and footer elements with complex content*/
/* see https://stackoverflow.com/questions/16679146/force-footer-on-bottom-on-pages-with-little-content */
/*------------------------------------------------------------------------------------------------------*/

.wrapper {
  min-height: 100%;
}

header {
  width: 100%;
  height: auto;
}

main {
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 55%;
  font-size: 9pt;
  text-align: justify;
}

/* GRID SYSTEM */
/* see http://j4n.co/blog/Creating-your-own-css-grid-system */
/*----------------------------------------------------------*/
.grid-container{
  width: 100%;
}

/*-- our cleafix hack -- */
.row:before, 
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  /*width: 100% / 12;
  /*-- our gutter -- */
  /*padding: 0px; */
  /*background-color: #FFDCDC;*/
}

@for $i from 1 through $columns {
  .col-#{$i} {
  	width: 100% / $columns * $i;
  }
  .col-offset-#{$i} {
    margin-left: 100% / $columns *$i;
  }
}

/* OTHER ELEMENTS */
/*----------------*/

.logo > p {
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
}

.big {
  font-size: 13pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.boxheader {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  width: 30mm;
  height: 17mm;
  margin: 0;
  margin-top: 10mm;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  & > p{
    line-height: 0mm;
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }
}

.centered {
  text-align: center;
}

.address {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  line-height: 15px;
  & > table{
    margin: 0;
    padding: 0;
    & > tr{
      & > td{
        vertical-align: top;
        margin: 0;
        padding: 0;
      }
    }
  }
}


.box {
  display: inline-block;
  height: auto;
  margin-top: 10mm;
  margin-bottom: 1mm;
  padding-top: 3mm;
  padding-bottom: 3mm;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(100, 100, 100, 0.3);
  & p{
    line-height: 0mm;
    font-size: 10pt;
    text-align: left;
    padding-left: 3mm;
    padding-right: 3mm;
  }
}

#bill {
  width: 110mm;
}

#quote {
  width: 55mm;
}

.headclient {
  font-size: 14pt;
  font-weight: bold;
  padding-bottom: 2mm;
  padding-top: 3mm;
  margin: 0;
}

.topm {
  margin-top: 12mm;
  & > p {
    padding: 0;
    margin: 0;  
  }
}

.services {
  margin-top: 5mm;
  & > table {
    page-break-inside: auto;
    margin: 0;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    & > thead {
      & > tr {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        & > th {
          border-left: 1px solid black;
          text-align: center !important;
          padding: 5px;
          &:last-child {
            border-right: 1px solid black;
          }
        }
      }
    }
    & tbody {
      font-size: 11pt;
    }
    & td {
      border-left: 1px solid black;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      &:last-child {
        border-right: 1px solid black;
      }
    }
  }
}

.total {
  margin-top: 5mm;
  & > table {
    page-break-inside: avoid;
    margin-right: 0px;
    margin-left: auto;
    width: 34%;
    border: 1px solid black;
    border-collapse: collapse;
    & tbody {
      font-size: 11pt;
    }
    & td {
      border-left: 1px solid black;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.footbox {
  border: 1px solid black;
  height: 35mm;
  width: 90%;
  vertical-align: top;
  & > p {
    margin: 0;
    padding: 1mm;
  }
}

.bold {
  font-weight: bold;
}

.medium {
  font-size: 11pt;
  font-weight: bold;
}

#footquote {
  width: 90%;
}

.foottable {
  font-size: 9pt;
  text-align: right;
}
